.nav__img {
    width: 30px;
}

.nav__link {
    color: var(--color-blue, #3884BF);
    font-size: 18px;
    font-family: Geologica;
}

.nav__item:hover {
    transform: scale(1.15);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}